<p id="notice"><%= notice %></p>

<!-- <div class="container marketing"> -->

<% content_for :title do %>
<span class="label label-default">Cars</span>
<% end %>

<h1> Cars List </h1>

<div class="row">
  <%= will_paginate @cars, class: "apple_pagination" %>
</div>

<div class="row">
  <div class="col-lg-12">

  <div class="row">
    <% @cars.each_with_index do |car,i| %>
      <div class="col-lg-3 col-xs-6 col-md-4">
        <div class="thumbnail">
          <%= link_to car, class: "thumbnail" do %>
            <%= image_tag car.image.url, class: "img-thumbnail" %>
          <% end %>

          <div class="caption">
            <h3><%= car.model.manufacturer_name %></h3>
            <h4><%= car.name %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  </div>
</div>
